In [1]:
#!pip install tensorflow_datasets
#!pip install tensorflow

In [2]:
import tensorflow as tf
import tensorflow_datasets as tfds
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

# NEWSROOM

In [3]:
src_type = 'newsroom'
take = 1000
ds,ds_info = tfds.load(src_type, split='test', with_info=True)
df = tfds.as_dataframe(ds.take(take),ds_info)
df.head(1)

,compression,compression_bin,coverage,coverage_bin,date,density,density_bin,summary,text,title,url
0,38.71,b'high',0.87,b'medium',b'2014111519',6.61,b'mixed',b'U.S. President Obama and U.N. Secretary-Gene...,b'Australian Prime Minister Tony Abbott may ha...,"b""Obama and Ban Ki-moon didn't get the memo th...",b'http://mashable.com/2014/11/15/obama-ban-ki-...

In [4]:
df['summary_length'] = df['summary'].str.len()
df['text_length'] = df['text'].str.len()

In [5]:
df.describe()

       compression  coverage  density  summary_length  text_length
count      1000.00   1000.00  1000.00         1000.00      1000.00
mean         36.60      0.83     9.24          162.57      4004.46
std          50.36      0.18    14.18          183.71      3540.08
min           1.16      0.00     0.00            3.00       283.00
25%          12.21      0.73     1.21           96.00      1719.25
50%          25.17      0.88     2.34          135.00      3316.50
75%          45.55      0.97    12.85          177.00      5195.00
max        1132.00      1.00   166.00         3608.00     38239.00

# cnn_dailymail

In [6]:
src_type = 'cnn_dailymail'
take = 1000
ds,ds_info = tfds.load(src_type, split='test', with_info=True)
df = tfds.as_dataframe(ds.take(take),ds_info)
df.head(1)

,article,highlights
0,"b""Ever noticed how plane seats appear to be ge...",b'Experts question if packed out planes are p...

In [7]:
df['summary_length'] = df['highlights'].str.len()
df['text_length'] = df['article'].str.len()

In [8]:
df.describe()

       summary_length  text_length
count         1000.00      1000.00
mean           315.65      3904.08
std            143.67      2000.72
min             64.00       633.00
25%            223.00      2375.00
50%            291.00      3451.00
75%            363.00      5080.00
max           2885.00     10749.00

# multi_news

In [9]:
src_type = 'multi_news'
take = 1000
ds,ds_info = tfds.load(src_type, split='test', with_info=True)
df = tfds.as_dataframe(ds.take(take),ds_info)
df.head(1)

,document,summary
0,"b'Think back, everyone -- can you remember whe...",b'\xe2\x80\x93 No matter how much you like Jas...

In [10]:
df['summary_length'] = df['summary'].str.len()
df['text_length'] = df['document'].str.len()

In [11]:
df.describe()

       summary_length  text_length
count         1000.00      1000.00
mean          1288.94     10168.99
std            387.81      8997.59
min            382.00       347.00
25%            994.00      4868.75
50%           1323.50      8096.50
75%           1563.25     12431.25
max           3455.00    107135.00